.examDetailsBody{
    display: flex;
}

.titleDiv{
    padding-top: 25px;
    padding-bottom: 55px;
    text-align: center;
}

.cards{
    width: 320px;
    height: 415px;
}

.flexColumnCard{
    display: flex;
}

.flexCard{
    flex: 1;
    justify-content: space-around;
}

.bottomPattingToDiv{
    padding-bottom: 25px;
}

.bodyStyle h3, h5, p{
    text-align: center;
}

.editButton{
    width: 175px;
    font-size: 20px;
}