* {
    box-sizing: border-box;
  }

.cancelButton{
  border: 2px solid grey;
  width: 150px;
  }

  .examDetailsBody{
    display: flex;
}

.examDetails{
    justify-content: space-around;
    width: 45vw;
}

.titleDiv{
    width: 300px;
}