* {
    box-sizing: border-box;
  }

body {
  padding-top: 95px;
}

.cancelButton{
  border: 2px solid grey;
  width: 150px;
  }

  .examDetailsBody{
    display: flex;
}

.examDetails{
    justify-content: space-around;
    width: 45vw;
}

.titleDiv{
    width: 300px;
}

.searchBar{
  width: 50%; 
  margin: 0 auto;
  padding-bottom: 20px;
}

.centerform {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  border: 3px solid rgb(31, 55, 143);
  padding: 10px;
}

.aligndivs{
  float: left;
  margin-left: 20px;
}

.formButton{
  margin: 15px 10px 0 0;
}

.createForm{
  display: flex;
  flex-direction: column;
}

.formError{
  margin-top: 10px;
}

@media (max-width: 450px) {
  .searchBar{
    width: 100%;
  }

  .centerform {
    width: 90%;
  }
}