* {
    box-sizing: border-box;
  }

body {
  padding-top: 95px;
}

.cancelButton{
  border: 2px solid grey;
  width: 150px;
  }

  .examDetailsBody{
    display: flex;
}

.examDetails{
    justify-content: space-around;
    width: 45vw;
}

.titleDiv{
    width: 300px;
}

.searchBar{
  width: 50%; 
  margin: 0 auto;
  padding-bottom: 20px;
}


@media (max-width: 450px) {
  .searchBar{
    width: 100%;
  }
}