
.centerform {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.aligndivs{
  float: left;
  margin-left: 20px;
}

.formButton{
  margin: 15px 10px 0 0;
}

.createForm{
  display: flex;
  flex-direction: column;
}

.formError{
  margin-top: 10px;
}