
.centerform {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.aligndivs{
  float: left;
  margin-left: 20px;
}

.formButton{
  margin-top: 15px;
  background-color: green;
  border: 1px green solid;
}